{% extends "layout.html" %}
{% block content %}

<h5>Simple app to showcase news summarization</h5>
<h6>This tool should be considered a PoC - Enhancements may be required</h6>

{% from "_formhelpers.html" import render_field %}
<form method="post" action=''>

    <dl>
        <p>
            {{ render_field(form.search) }}
    </dl>
    </p><input name="urllink" class="btn btn-primary btn-lg" type=submit value="Process">
</form>
<br>

{% for error in errors %}
<h3 class="errormsg">{{ error }}</h3>
{% endfor %}

{% endblock %}